body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  --main-bg-color: #eaf6f6;
  --main-text-color: #40514e;
  --main-header-color: #66bfbf;
  --secondary-header-color: #11999e;
  --blank-color: white;
  color: var(--main-text-color);
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  position: relative;
  z-index: 2;
  margin: 0 auto 0 auto;
  padding-top: 120px;
  font-family: "Sacramento", cursive;
  font-size: 3rem;
  color: var(--main-header-color);
}

h2 {
  position: relative;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  color: var(--main-header-color);
  font-weight: normal;
}

h3 {
  position: relative;
  z-index: 2;
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-header-color);
}

a {
  position: relative;
  z-index: 3;
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-header-color);
  text-decoration: none;
  font-weight: bold;
}

p {
  line-height: 2;
}

hr {
  border: dotted var(--main-bg-color) 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto 100px auto;
}

.top-container {
  position: relative;
  margin-top: 0;
  padding-top: 0px;
  background-color: var(--main-bg-color);
  height: 100vh;
}

#upper-half {
  position: relative;
  height: 70%;
}

#lower-half {
  height: 30%;
  background-color: var(--blank-color);
}

.middle-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: var(--blank-color);
  width: 100%;
}

.cloud {
  position: absolute;
  width: 200px;
  max-width: 25%;
}

.top-cloud {
  right: 15%;
  top: 25vh;
}

.bottom-cloud {
  left: 15%;
  bottom: 20vh;
}

.intro {
  width: 600px;
  max-width: 80%;
  margin: 0 auto 0 auto;
}

.mountain-img {
  position: absolute;
  z-index: 1;
  width: 800px;
  max-width: 80%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.me {
  height: 20vh;
  padding: 5vh 0 5vh 0;
  margin: auto;
}
